<div class="class">
    <h2>Animais</h2>
    <ul>
        <li *ngFor="let animal of animals">
            Nome: <a href="list/{{ animal.id }}">{{animal.name}}</a> - Tipo: {{animal.type}}
            <button (click)="showAge(animal)">Show Age</button>
            <button (click)="removeAnimal(animal)">Excluir</button>
        </li>
    </ul>
    <ul>
        <li *ngFor="let item of itens">
            Nome: {{item.nome}}
            Id: {{item.id}}
            Descrição: {{item.descricao}}
        </li>
    </ul>
    <ul>
        <li *ngFor="let book of books">
            Id: {{book.id}}
            Título: {{book.title}}
            Autor: {{book.author}}
            Gênero: {{book.genre}}
        </li>
    </ul>
    <h3>{{animalDetails}}</h3>
</div>
